<!-- The Modal -->
<div class="modal" id="addPaymentModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ödənişin əlavə edilməsi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input id="userIdForAddPaymentID" name="fk_id_rem_user" value="" hidden />
                <div class="form-group">
                    <label class="small mb-1" for="date">Tarix</label>
                    <input class="form-control py-4" id="dateForAddPayment" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="sum">Məbləğ</label>
                    <input class="form-control py-4" id="sumForAddPayment" type="number">
                </div>
                <div class="form-group">
                    <label class="small mb-1" for="note">Qeyd</label>
                    <input class="form-control py-4" id="noteForAddPayment" type="text">
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="addPayment()">Əlavə et</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
            </div>

        </div>
    </div>
</div>