<!-- The Modal -->
<div class="modal" id="allNoteListModal">
    <div class="modal-dialog" style="min-width:1000px">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Qeydlər</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-bordered" style="width:100%" id="tblAllNoteList">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Şirkət adı</th>
                            <th>Əlaqəli şəxs</th>
                            <th>Əlaqəli nömrə</th>
                            <th>Qeyd tarixi</th>
                            <th>Qeyd</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
            </div>

        </div>
    </div>
</div>