<!-- The Modal -->
<div class="modal" id="paymentListModal">
    <div class="modal-dialog" style="min-width:800px; overflow:auto">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ödəniş siyahısı</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-bordered" style="width:100%" id="tblPaymentList">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Ödəniş tarixi</th>
                            <th>Məbləğ</th>
                            <th>Qeyd</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
            </div>

        </div>
    </div>
</div>